<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /app/cmv1/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /app/cmv1/index.html [L]
</IfModule>
